# Owned by the Frontend Core and
/* @slaven3kopic @alekhya-cplace @senthanal

# Cross-Functional
/.github/ @slaven3kopic @alekhya-cplace @senthanal @vladimir-arsov
/tools/ @slaven3kopic @alekhya-cplace @senthanal @vladimir-arsov
/src/ @slaven3kopic @alekhya-cplace @senthanal @vladimir-arsov
/test/ @slaven3kopic @alekhya-cplace @senthanal @vladimir-arsov
/release-notes/ @slaven3kopic @alekhya-cplace @senthanal @vladimir-arsov

